/*
Theme Name: WebGurukul
Theme URI: http://www.webakruti.com/
Author: Webakruti.com
Author URI: http://www.webakruti.com/
Description: WebGurukul website is built for educational, training purpose business. Team Webakruti has designed this theme according to clients need.  
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: webgurukul
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

webgurukul is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
#menu-item-43 a{padding: 0 0 9px 0px;}
header .navbar-inverse .navbar-nav > li#menu-item-43 > a:hover{border-bottom: none;}
/*.blog-aside .blog-page-div .pop-post{margin: -13px 0 0px;}*/
.blog-aside .blog-page-div .pop-post a:hover{color: #f99924;}
.web-sub{background: rgba(0, 0, 0, 0);margin-top: 30px;background-color: #f99924 !important;border: 2px solid #f99924;color: #fff !important;padding: 2px 30px;}
span.wpcf7-list-item {margin: 0;}
.web-reg{background-color: #f99924 !important;border: 2px solid #f99924;color: #fff !important;padding: 0px 18px}
/*.blog-section .blog-box{min-height: 372px;}*/
#wpadminbar{display:none;}
.feedback-section{display:none;}