/*quicksand*/
@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/webfont/quicksand-bold-webfont.eot');
    src: url('../fonts/webfont/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfont/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/webfont/quicksand-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/webfont/quicksand-light-webfont.eot');
    src: url('../fonts/webfont/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/webfont/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/webfont/quicksand-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandmedium';
    src: url('../fonts/webfont/quicksand-medium-webfont.eot');
    src: url('../fonts/webfont/quicksand-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont/quicksand-medium-webfont.woff2') format('woff2'),
         url('../fonts/webfont/quicksand-medium-webfont.woff') format('woff'),
         url('../fonts/webfont/quicksand-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/webfont/quicksand-regular-webfont.eot');
    src: url('../fonts/webfont/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfont/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/webfont/quicksand-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{color: #333333; font-size: 16px; font-family: 'quicksandregular'; line-height: 24px;}
h1{font-size: 36px;  font-family: 'quicksandmedium';margin:0;padding:0;}
h2{font-size: 32px;  font-family: 'quicksandmedium';margin:0;padding:0;}
h3{font-size: 21px;  font-family: 'quicksandmedium';margin:20px 0 15px;padding:0;}
h5{font-size: 18px;  font-family: 'quicksandmedium';}
a{color: #333333;}
a:hover, a:focus{text-decoration: none; outline: 0;}
.btn:active:focus, .btn:focus{outline: none;}
a, hgroup, p{font-family: 'quicksandregular';}
.xlg-1{font-size: 26px;}
.xlg{font-size: 24px;}
.lg{font-size: 18px;font-family: 'quicksandmedium';}
.lg1{font-size: 18px;font-family: 'quicksandbold';}
.sm{font-size: 16px;font-family: 'quicksandmedium';}
.xs{font-size: 14px; font-family: 'quicksandlight';}
.no-padding{padding: 0!important;}
.no-margin{margin: 0!important;}
.padding-right0{padding-right: 0;}
.padding-left0{padding-left: 0;}
.imgwidth-100{width: 100%;}
body.modal-open {overflow: hidden;}
.bg-image {background-size: cover;background-repeat: no-repeat;background-position: top center;}
.padding-top-bot{padding: 50px 0;}
.grey-section{background-color: #f1f2f7; }
.sec-heading{margin-bottom: 30px;}
.sec-subheading{font-family: 'quicksandregular';font-size: 18px;margin-top: 10px;}
.color-white{color: #fff;}
.clr-orange{color: #f99924;}
.para-link{font-weight: bold;}
.para-link:hover{color: #f99924;}
.row{margin-left: 0;margin-right: 0;}
::-webkit-input-placeholder{ font-family: 'quicksandlight';}
::-moz-placeholder{ font-family: 'quicksandlight';}
.btn{font-family: 'quicksandmedium';border-radius: 30px;margin: 0;cursor: pointer;padding: 0;text-transform: capitalize;color: #333333;font-size: 16px;padding: 12px 48px;box-shadow: none !important;}
.modal-content{border:none;}
.join-modal .modal-dialog, .gallery-modal{margin: 13% auto;}
.carousel-control{opacity: 1;text-shadow: none;top:50%;}
.carousel-inner > .item > a > img, .carousel-inner > .item > img {width: 100%;}
.carousel-control.right,.carousel-control.left{background-image: none;}
.form-control{height: 43px; border-radius: 5px;margin-bottom: 20px;}
.form-control:focus {border-color: #f99924;-webkit-box-shadow: none;box-shadow: none;-webkit-transition: 0.5s ease-in-out;transition: 0.5s ease-in-out;}
label{font-family: 'quicksandregular';}
textarea.form-control{height: 70px;}
select:focus, input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {  border-bottom: 1px solid #f99924;  box-shadow: 0 1px 0 0 #f99924;}
select.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search-md].valid, input[type=search-md]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.md-textarea.valid, textarea.md-textarea:focus.valid { border-bottom: 1px solid #f99924; box-shadow: 0 1px 0 0 #f99924;}
select, input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {background-color: transparent;border: none;border-bottom: 1px solid #ccc;border-radius: 0;outline: none;height: 2em;width: 100%;font-size: 1rem;box-shadow: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;transition: all .3s;padding-top: 0.8em;padding-bottom: 0.3em;margin-bottom: 0; font-size: 18px;font-family: 'quicksandmedium';color: #333333;padding-top: 0.3em;padding-bottom: 0.1em;height: 2em;}
select{font-size: 16px;}
.fill-btn1{background-color: #f99924;border: 2px solid #f99924;color: #fff !important;}
.fill-btn1:hover{background-color: #f68a07;border-color: #f68a07;}
.fill-btn2{background-color: #fff;border: 2px solid #fff;color: #f99924 !important;font-size: 18px;}
/*.fill-btn2:hover{background-color: #f8f8f8;border: 2px solid #f8f8f8;}*/
.border-btn1{border: 2px solid #f99924;background-color: transparent;color: #909090 !important;}
.border-btn1:hover{background-color: #f99924;color: #fff !important;}
.border-btn2{border: 2px solid #a1a1a1;background-color: transparent;color: #787878 !important;}
.border-btn2:hover{background-color: #f99924;color: #fff !important;border: 2px solid #f99924;}
.fill-btn2:hover {background-color: #0b2c4b;border: 2px solid #f8f8f8;color: #fff!important;}
/*link pages*/
.banner-heading{font-size: 36px;font-family: 'quicksandbold';color: #fff;}
.link-page-banner{height: 170px;text-align: center;padding-top: 75px;margin-top: 80px;}
.breadcrumb{background-color: transparent;}
.breadcrumb a{color: #fff;}
.breadcrumb>.active {color: #fff}
.link-page .sec-subheading{text-align: left;}
label{font-weight:normal;}select:focus, input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.md-textarea{border-bottom: 1px solid #f99924;  box-shadow: 0 1px 0 0 #ffac00;}
select, input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime-local], input[type=tel], input[type=number], input[type=search-md], input[type=search], textarea.md-textarea {  border-bottom: 1px solid #acacac;  box-shadow: 0 1px 0 0 #acacac;}
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search-md]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.md-textarea:focus:not([readonly]) + label{color: #f99924;}
.md-form label {position: absolute; top: 16px; left: 0; color: #3f3f3f; font-size: 16px; cursor: text; -webkit-transition: 0.2s ease-out;  -moz-transition: 0.2s ease-out;  -o-transition: 0.2s ease-out; -ms-transition: 0.2s ease-out; transition: 0.2s ease-out; font-family: 'quicksandregular';}
.required-field{color: red;margin: 0 3px;border: none;}


@font-face {
  font-family: 'wkl';
  src:  url('../fonts/icon/wkl.eot?5c1jp7');
  src:  url('../fonts/icon/wkl.eot?5c1jp7#iefix') format('embedded-opentype'),
    url('../fonts/icon/wkl.ttf?5c1jp7') format('truetype'),
    url('../fonts/icon/wkl.woff?5c1jp7') format('woff'),
    url('../fonts/icon/wkl.svg?5c1jp7#wkl') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="wkl-"], [class*=" wkl-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wkl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wkl-menu:before {
  content: "\eab3";
}
.wkl-about:before {
  content: "\eaa8";
  color: #7c888c;
}
.wkl-contact:before {
  content: "\eaa9";
  color: #7c888c;
}
.wkl-courses:before {
  content: "\eaaa";
  color: #7c888c;
}
.wkl-digtal-marketing:before {
  content: "\eaab";
  color: #7c888c;
}
.wkl-gallery:before {
  content: "\eaac";
  color: #7c888c;
}
.wkl-graphics-design:before {
  content: "\eaad";
  color: #7c888c;
}
.wkl-home:before {
  content: "\eaae";
}
.wkl-internship:before {
  content: "\eaaf";
  color: #7c888c;
}
.wkl-web-design:before {
  content: "\eab0";
  color: #7c888c;
}
.wkl-web-development:before {
  content: "\eab1";
  color: #7c888c;
}
.wkl-workshop2:before {
  content: "\eab2";
  color: #7c888c;
}
.wkl-experience-trainer:before {
  content: "\eaa1";
  color: #fff;
}
.wkl-feedback-icon2:before {
  content: "\eaa2";
  color: #fff;
}
.wkl-free-study-material:before {
  content: "\eaa3";
  color: #fff;
}
.wkl-it-corporate-training:before {
  content: "\eaa4";
  color: #fff;
}
.wkl-live-project-work:before {
  content: "\eaa5";
  color: #fff;
}
.wkl-placement-assistence:before {
  content: "\eaa6";
  color: #fff;
}
.wkl-practical-training:before {
  content: "\eaa7";
  color: #fff;
}
.wkl-digital-marketing .path1:before {
  content: "\ea91";
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path2:before {
  content: "\ea92";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-digital-marketing .path3:before {
  content: "\ea93";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path4:before {
  content: "\ea94";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path5:before {
  content: "\ea95";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path6:before {
  content: "\ea96";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path7:before {
  content: "\ea97";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path8:before {
  content: "\ea98";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing .path9:before {
  content: "\ea99";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path1:before {
  content: "\ea9a";
  color: rgb(255, 255, 255);
}
.wkl-workshop .path2:before {
  content: "\ea9b";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path3:before {
  content: "\ea9c";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path4:before {
  content: "\ea9d";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path5:before {
  content: "\ea9e";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path6:before {
  content: "\ea9f";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
}
.wkl-workshop .path7:before {
  content: "\eaa0";
  margin-left: -1.01171875em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-feedback-icon:before {
  content: "\ea8f";
  color: #fff;
}
.wkl-youtube-1 .path1:before {
  content: "\e900";
  color: rgb(201, 0, 30);
}
.wkl-youtube-1 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-wordpress .path1:before {
  content: "\e902";
  color: rgb(255, 255, 255);
}
.wkl-wordpress .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(0, 118, 157);
}
.wkl-wordpress .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 118, 157);
}
.wkl-wordpress .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(0, 118, 157);
}
.wkl-wordpress .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 118, 157);
}
.wkl-wordpress .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 118, 157);
}
.wkl-web-development-icon .path1:before {
  content: "\e908";
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-web-development-icon .path3:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path4:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path5:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path6:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path7:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path8:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path9:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path10:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path11:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path12:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path13:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path14:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path15:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path16:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-development-icon .path17:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path18:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-web-development-icon .path19:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path1:before {
  content: "\e91b";
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path3:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path4:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path5:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path6:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path7:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path8:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-web-designing-icon .path9:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-web-designing-icon .path10:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path11:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path12:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-web-designing-icon .path13:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-up-arrow:before {
  content: "\e928";
}
.wkl-substract:before {
  content: "\e929";
}
.wkl-star:before {
  content: "\e92a";
  color: #32c748;
}
.wkl-sql .path1:before {
  content: "\e92b";
  color: rgb(87, 127, 162);
}
.wkl-sql .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 162, 48);
}
.wkl-sql .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path4:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(87, 127, 162);
}
.wkl-sql .path5:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path6:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path7:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path8:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path9:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path10:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path11:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path12:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path13:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path14:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path15:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path16:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path17:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path18:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path19:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path20:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path21:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path22:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path23:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path24:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path25:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path26:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path27:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path28:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path29:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path30:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path31:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path32:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path33:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path34:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path35:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path36:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path37:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path38:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path39:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path40:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path41:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path42:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path43:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path44:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path45:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path46:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path47:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path48:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path49:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path50:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path51:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path52:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path53:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path54:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path55:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path56:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path57:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path58:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path59:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path60:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path61:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path62:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path63:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path64:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path65:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path66:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path67:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path68:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path69:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path70:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path71:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path72:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path73:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path74:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path75:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path76:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path77:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path78:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path79:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path80:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path81:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 206, 146);
}
.wkl-sql .path82:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path83:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path84:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path85:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path86:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-sql .path87:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-sql .path88:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(173, 192, 209);
}
.wkl-Software-course .path1:before {
  content: "\e983";
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path2:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-Software-course .path3:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path4:before {
  content: "\e986";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path5:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-Software-course .path6:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path7:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-Software-course .path8:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path9:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path10:before {
  content: "\e98c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path11:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path12:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-Software-course .path13:before {
  content: "\e98f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path14:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-Software-course .path15:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path16:before {
  content: "\e992";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path17:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Software-course .path18:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-Software-course .path19:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-smo .path1:before {
  content: "\e996";
  color: rgb(88, 154, 210);
}
.wkl-smo .path2:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.wkl-smo .path3:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.wkl-smo .path4:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(88, 154, 210);
}
.wkl-smo .path5:before {
  content: "\e99a";
  margin-left: -1em;
  color: rgb(88, 154, 210);
}
.wkl-smo .path6:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.wkl-smo .path7:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(88, 155, 209);
}
.wkl-smo .path8:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(88, 154, 210);
}
.wkl-seo:before {
  content: "\e99e";
  color: #ffb600;
}
.wkl-RWD .path1:before {
  content: "\e99f";
  color: rgb(33, 166, 145);
}
.wkl-RWD .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(254, 255, 255);
}
.wkl-RWD .path3:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(110, 201, 194);
}
.wkl-RWD .path4:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(110, 201, 194);
}
.wkl-RWD .path5:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(33, 166, 145);
}
.wkl-RWD .path6:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(110, 201, 194);
}
.wkl-reactjs .path1:before {
  content: "\e9a5";
  color: rgb(255, 255, 255);
}
.wkl-reactjs .path2:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(83, 193, 222);
}
.wkl-reactjs .path3:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-reactjs .path4:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(83, 193, 222);
}
.wkl-PHP-Course .path1:before {
  content: "\e9a9";
  color: rgb(255, 255, 255);
}
.wkl-PHP-Course .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-PHP-Course .path3:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.wkl-PHP-Course .path4:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.wkl-PHP-Course .path5:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.wkl-PHP-Course .path6:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(252, 252, 252);
}
.wkl-php .path1:before {
  content: "\e9af";
  color: rgb(108, 126, 183);
}
.wkl-php .path2:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(137, 155, 211);
}
.wkl-php .path3:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(120, 138, 200);
}
.wkl-php .path4:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(108, 126, 183);
}
.wkl-php .path5:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(108, 126, 183);
}
.wkl-php .path6:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(108, 126, 183);
}
.wkl-php .path7:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.wkl-php .path8:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.wkl-php .path9:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.wkl-php .path10:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.wkl-php .path11:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(120, 138, 200);
  opacity: 0.8;
}
.wkl-php .path12:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.wkl-php .path13:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
.wkl-php .path14:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.wkl-php .path15:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(137, 155, 211);
  opacity: 0.8;
}
.wkl-php .path16:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.wkl-personal-attention:before {
  content: "\e9bf";
  color: #f99924;
}
.wkl-paper:before {
  content: "\e9c0";
}
.wkl-Oopsconcept .path1:before {
  content: "\e9c1";
  color: rgb(91, 60, 126);
}
.wkl-Oopsconcept .path2:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(149, 118, 193);
}
.wkl-Oopsconcept .path3:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(91, 61, 127);
}
.wkl-Oopsconcept .path4:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(220, 189, 250);
}
.wkl-Oopsconcept .path5:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(91, 61, 127);
}
.wkl-one-year-membership:before {
  content: "\e9c6";
  color: #f99924;
}
.wkl-nodejs .path1:before {
  content: "\e9c7";
  color: rgb(145, 195, 65);
}
.wkl-nodejs .path2:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(64, 66, 56);
}
.wkl-nodejs .path3:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-nodejs .path4:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-nodejs .path5:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-nodejs .path6:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-nodejs .path7:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-nodejs .path8:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-live-practical:before {
  content: "\e9cf";
  color: #f99924;
}
.wkl-letter-x:before {
  content: "\e9d0";
}
.wkl-left-quote:before {
  content: "\e9d1";
  color: #f99924;
}
.wkl-JSnJquery .path1:before {
  content: "\e9d2";
  color: rgb(200, 68, 64);
}
.wkl-JSnJquery .path2:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.wkl-JSnJquery .path3:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(235, 70, 71);
}
.wkl-JSnJquery .path4:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(200, 68, 64);
}
.wkl-JSnJquery .path5:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(251, 225, 225);
}
.wkl-JSnJquery .path6:before {
  content: "\e9d7";
  margin-left: -1em;
  color: rgb(251, 225, 225);
}
.wkl-JSnJquery .path7:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(251, 225, 225);
}
.wkl-JSnJquery .path8:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(247, 178, 163);
}
.wkl-JSnJquery .path9:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(247, 181, 166);
}
.wkl-JSnJquery .path10:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(251, 225, 225);
}
.wkl-JSnJquery .path11:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(212, 184, 48);
}
.wkl-JSnJquery .path12:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(253, 216, 60);
}
.wkl-JSnJquery .path13:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(77, 77, 77);
}
.wkl-JSnJquery .path14:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wkl-interview-prepare:before {
  content: "\e9e0";
  color: #f99924;
}
.wkl-illustrator .path1:before {
  content: "\e9e1";
  color: rgb(0, 0, 0);
}
.wkl-illustrator .path2:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(255, 127, 24);
}
.wkl-htmlncss2 .path1:before {
  content: "\e9e3";
  color: rgb(10, 113, 185);
}
.wkl-htmlncss2 .path2:before {
  content: "\e9e4";
  margin-left: -1em;
  color: rgb(40, 167, 222);
}
.wkl-htmlncss2 .path3:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(235, 235, 235);
}
.wkl-htmlncss2 .path4:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-htmlncss2 .path5:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(227, 79, 38);
}
.wkl-htmlncss2 .path6:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.wkl-htmlncss2 .path7:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(239, 101, 42);
}
.wkl-htmlncss2 .path8:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-htmlncss2 .path9:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.wkl-htmlncss2 .path10:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(254, 254, 254);
}
.wkl-htmlncss2 .path11:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(234, 234, 234);
}
.wkl-Graphics-design-course .path1:before {
  content: "\e9ee";
  color: rgb(255, 255, 255);
}
.wkl-Graphics-design-course .path2:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-Graphics-design-course .path3:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-google-webmaster .path1:before {
  content: "\e9f1";
  color: rgb(125, 124, 124);
}
.wkl-google-webmaster .path2:before {
  content: "\e9f2";
  margin-left: -1em;
  color: rgb(125, 124, 124);
}
.wkl-google-webmaster .path3:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(91, 91, 91);
}
.wkl-google-webmaster .path4:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(230, 231, 231);
}
.wkl-google-webmaster .path5:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(208, 209, 210);
}
.wkl-google-webmaster .path6:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(90, 132, 196);
}
.wkl-google-webmaster .path7:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(230, 231, 231);
}
.wkl-google-webmaster .path8:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(230, 231, 231);
}
.wkl-google-webmaster .path9:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-google-webmaster .path10:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(211, 212, 212);
}
.wkl-google-webmaster .path11:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(211, 212, 212);
}
.wkl-google-webmaster .path12:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(211, 212, 212);
}
.wkl-google-webmaster .path13:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(81, 81, 81);
}
.wkl-google-analytics .path1:before {
  content: "\e9fe";
  color: rgb(246, 153, 33);
}
.wkl-google-analytics .path2:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-google-analytics .path3:before {
  content: "\ea00";
  margin-left: -1em;
  color: rgb(240, 88, 35);
}
.wkl-google-adwords .path1:before {
  content: "\ea01";
  color: rgb(60, 121, 190);
}
.wkl-google-adwords .path2:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(23, 153, 72);
}
.wkl-google-adwords .path3:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(60, 99, 174);
}
.wkl-facebook .path1:before {
  content: "\ea04";
  color: rgb(255, 255, 255);
}
.wkl-facebook .path2:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-facebook .path3:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-facebook .path4:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-facebook .path5:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-facebook .path6:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(71, 89, 147);
}
.wkl-facebook .path7:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-expert-trainers:before {
  content: "\ea0b";
  color: #f99924;
}
.wkl-employee .path1:before {
  content: "\ea0c";
  color: rgb(255, 255, 255);
}
.wkl-employee .path2:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-employee .path3:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-employee .path4:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-email-marketing .path1:before {
  content: "\ea10";
  color: rgb(242, 99, 40);
}
.wkl-email-marketing .path2:before {
  content: "\ea11";
  margin-left: -1em;
  color: rgb(242, 99, 40);
}
.wkl-email-marketing .path3:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(238, 238, 239);
}
.wkl-email-marketing .path4:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(15, 48, 63);
}
.wkl-email-marketing .path5:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(15, 48, 63);
}
.wkl-email-marketing .path6:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(15, 48, 63);
}
.wkl-email-marketing .path7:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(15, 48, 63);
}
.wkl-email-marketing .path8:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(15, 48, 63);
}
.wkl-email-marketing .path9:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(82, 197, 212);
}
.wkl-email-marketing .path10:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(46, 174, 183);
}
.wkl-email-marketing .path11:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(46, 174, 183);
}
.wkl-diploma:before {
  content: "\ea1b";
}
.wkl-digital-marketing-icon .path1:before {
  content: "\ea1c";
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing-icon .path2:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-digital-marketing-icon .path3:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-digital-marketing-icon .path4:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-digital-marketing-icon .path5:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-digital-marketing-icon .path6:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-digital-marketing-icon .path7:before {
  content: "\ea22";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-daily-doubt-solving:before {
  content: "\ea23";
  color: #f99924;
}
.wkl-cprogramming .path1:before {
  content: "\ea24";
  color: rgb(153, 73, 146);
}
.wkl-cprogramming .path2:before {
  content: "\ea25";
  margin-left: -1em;
  color: rgb(105, 40, 118);
}
.wkl-cprogramming .path3:before {
  content: "\ea26";
  margin-left: -1em;
  color: rgb(128, 48, 130);
}
.wkl-cprogramming .path4:before {
  content: "\ea27";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-cprogramming .path5:before {
  content: "\ea28";
  margin-left: -1em;
  color: rgb(153, 73, 146);
}
.wkl-cprogramming .path6:before {
  content: "\ea29";
  margin-left: -1em;
  color: rgb(105, 40, 118);
}
.wkl-cplusplusprogramming .path1:before {
  content: "\ea2a";
  color: rgb(94, 149, 206);
}
.wkl-cplusplusprogramming .path2:before {
  content: "\ea2b";
  margin-left: -1em;
  color: rgb(4, 80, 134);
}
.wkl-cplusplusprogramming .path3:before {
  content: "\ea2c";
  margin-left: -1em;
  color: rgb(19, 99, 161);
}
.wkl-cplusplusprogramming .path4:before {
  content: "\ea2d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-cplusplusprogramming .path5:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(94, 149, 206);
}
.wkl-cplusplusprogramming .path6:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(4, 80, 134);
}
.wkl-cplusplusprogramming .path7:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-cplusplusprogramming .path8:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-coporate-training-icon .path1:before {
  content: "\ea32";
  color: rgb(255, 255, 255);
}
.wkl-coporate-training-icon .path2:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-coporate-training-icon .path3:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-coporate-training-icon .path4:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-coporate-training-icon .path5:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-copmany-certificate:before {
  content: "\ea37";
  color: #f99924;
}
.wkl-contact-page-arrow:before {
  content: "\ea38";
}
.wkl-check-mark-button:before {
  content: "\ea39";
  color: #32c748;
}
.wkl-cakephp .path1:before {
  content: "\ea3a";
  color: rgb(200, 35, 52);
}
.wkl-cakephp .path2:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(184, 39, 26);
}
.wkl-cakephp .path3:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(204, 180, 99);
}
.wkl-cakephp .path4:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(223, 210, 111);
}
.wkl-cakephp .path5:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(230, 210, 115);
}
.wkl-cakephp .path6:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-cakephp .path7:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-cakephp .path8:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wkl-Boostrap_logo .path1:before {
  content: "\ea42";
  color: rgb(0, 0, 0);
}
.wkl-Boostrap_logo .path2:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-angularjs .path1:before {
  content: "\ea44";
  color: rgb(179, 179, 179);
}
.wkl-angularjs .path2:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(166, 18, 13);
}
.wkl-angularjs .path3:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(221, 27, 22);
}
.wkl-angularjs .path4:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(242, 242, 242);
}
.wkl-angularjs .path5:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(179, 179, 179);
}
.wkl-ajax:before {
  content: "\ea49";
  color: #008cdb;
}
.wkl-advance-UI .path1:before {
  content: "\ea4a";
  color: rgb(235, 94, 3);
}
.wkl-advance-UI .path2:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(255, 207, 0);
}
.wkl-advance-UI .path3:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-UI .path4:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.wkl-advance-c-icon .path1:before {
  content: "\ea4e";
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path2:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-advance-c-icon .path3:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path4:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path5:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-advance-c-icon .path6:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path7:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-advance-c-icon .path8:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path9:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path10:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path11:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path12:before {
  content: "\ea59";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-advance-c-icon .path13:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path14:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(200, 200, 200);
}
.wkl-advance-c-icon .path15:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path16:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path17:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path18:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-advance-c-icon .path19:before {
  content: "\ea60";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-Adobe_Photoshop .path1:before {
  content: "\ea61";
  color: rgb(159, 202, 253);
}
.wkl-Adobe_Photoshop .path2:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(8, 0, 63);
}
.wkl-Adobe_Photoshop .path3:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(159, 202, 253);
}
.wkl-Adobe_Photoshop .path4:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(137, 191, 251);
}
.wkl-Adobe_Photoshop .path5:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(8, 0, 73);
}
.wkl-add:before {
  content: "\ea66";
}
.wkl-percent .path1:before {
  content: "\ea67";
  color: rgb(255, 255, 255);
}
.wkl-percent .path2:before {
  content: "\ea68";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-percent .path3:before {
  content: "\ea69";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-percent .path4:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-plus .path1:before {
  content: "\ea6b";
  color: rgb(255, 255, 255);
}
.wkl-plus .path2:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-plus .path3:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
  opacity: 0.5;
}
.wkl-social .path1:before {
  content: "\ea6e";
  color: rgb(80, 171, 241);
}
.wkl-social .path2:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-phone-call:before {
  content: "\ea70";
}
.wkl-technology:before {
  content: "\ea71";
}
.wkl-google-plus .path1:before {
  content: "\ea72";
  color: rgb(255, 255, 255);
}
.wkl-google-plus .path2:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-google-plus .path3:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-google-plus .path4:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-google-plus .path5:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(220, 78, 65);
}
.wkl-e-mail-envelope:before {
  content: "\ea77";
}
.wkl-message:before {
  content: "\ea78";
}
.wkl-linkedin-button .path1:before {
  content: "\ea79";
  color: rgb(0, 122, 185);
}
.wkl-linkedin-button .path2:before {
  content: "\ea7a";
  margin-left: -1em;
  color: rgb(0, 122, 185);
}
.wkl-linkedin-button .path3:before {
  content: "\ea7b";
  margin-left: -1em;
  color: rgb(0, 122, 185);
}
.wkl-linkedin-button .path4:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-call-answer:before {
  content: "\ea7d";
}
.wkl-user:before {
  content: "\ea7e";
}
.wkl-right-arrow:before {
  content: "\ea7f";
}
.wkl-people:before {
  content: "\ea80";
}
.wkl-location:before {
  content: "\ea81";
}
.wkl-instagram-logo .path1:before {
  content: "\ea82";
  color: rgb(197, 54, 164);
}
.wkl-instagram-logo .path2:before {
  content: "\ea83";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-instagram-logo .path3:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-instagram-logo .path4:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-instagram-logo .path5:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.wkl-black-back-closed-envelope-shape:before {
  content: "\ea87";
}
.wkl-youtube .path1:before {
  content: "\ea88";
  color: rgb(255, 255, 255);
}
.wkl-youtube .path2:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(196, 48, 43);
}
.wkl-youtube .path3:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(196, 48, 43);
}
.wkl-placeholder:before {
  content: "\ea8b";
}
.wkl-left-arrow:before {
  content: "\ea8c";
}
.wkl-down-arrow:before {
  content: "\ea8d";
}
.wkl-calendar-page-empty:before {
  content: "\ea8e";
}
.wkl-laravel-logo:before {
  content: "\ea90";
  color: #fff;
}
