/*header*/
/*top-strip-blue*/
html, body{height:100%;overflow: hidden;}
.top-strip{background-color: #0b2c4b;position: relative;padding-top: 6px;}
.top-strip .mail a, .top-strip .mail a:hover{color: #fff;}
.top-contact{padding-top: 2px;}
.top-strip .mail, .top-contact li{color: #fff;}
.top-strip .mail {margin-left: 32px;font-weight: 600; }
.top-strip .number{margin-left: 30px; margin-right: 10px;font-weight: 400;}
.top-strip .mail-icon1,.top-strip .phone-icon1{position: absolute;top:10px;}
.top-strip ul{margin-bottom: 0;}
.top-strip li{display: inline;float: left;margin-left: 6px;}
.top-strip .phone-icon1 {font-size: 18px;}
.top-strip .mail-icon1{font-size: 20px;}
.top-strip .connect li > a > span{font-size: 25px;}
.connect li{transform: scale(1);-ms-transform: scale(1);-webkit-transform: scale(1);
-moz-transform: scale(1);-o-transform: scale(1);}
.connect li:hover{transform: scale(1.1);-ms-transform: scale(1.1);-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);-o-transform: scale(1.1);}
/*Feedback section and Page*/
.feedback-section {position: fixed;top: 150px;right:-197px;width:255px;z-index: 23;background: #f99924;padding: 10px 15px 10px 60px;color: #fff;-webkit-transition:0.5s all;border-top-left-radius: 5px;
    border: 2px solid #fff;
    border-bottom-left-radius: 5px;box-shadow: 0 0 4px rgba(51,51,51,0.5);
 -moz-transition:0.5s all; -ms-transition:0.5s all; -o-transition: 0.5s all;}
.feedback-section .feedback-icon {font-size: 32px;top: -9px;
    margin-right: 0;
    padding: 16px 14px 10px 16px;
    left: -2px;}
.feedback-section:hover {right:0;}
.bounce {position: absolute;animation: bounce 2s infinite;-webkit-animation: bounce 2s infinite;-moz-animation: bounce 2s infinite;-o-animation: bounce 2s infinite;}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-8px);}
 60% {-webkit-transform: translateY(-4px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-8px);}
 60% {-moz-transform: translateY(-4px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-8px);}
 60% {-o-transform: translateY(-4px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-8px);}
 60% {transform: translateY(-4px);}
}
.feedback-form {padding:20px 30px;}
.feedback-page .rocket-div .rocket-img {margin-top:50px;}
.form_table {width:95%;}
.rr_review_form .form_table .rr_form_row .rr_form_heading {width: 25%;}
.feedback-page .rocket-div .webgurukul-icon {width: 80px;display: block;margin: 0 auto;margin-top: 31px;}
#submitReview {float: right;}
/*logo and navigation strip*/
header{position: fixed;top: 0;left: 0;width: 100%;z-index: 99;}
/*overwrite bootstrap*/
header .navbar{margin-bottom: 0;border: 0; border-radius: 0;}
header .navbar-brand {float: left;padding: 0;margin-bottom: 0;}
header .navbar > .container .navbar-brand{margin-left: 0;}
header .navbar-inverse {background-color: #fff;border-color: #fff;padding-top: 8px;z-index:-1;}
header .navbar-inverse .navbar-nav > li > a{border-bottom: 4px solid transparent;}
header .navbar-inverse .navbar-nav > li > a:focus, 
header .navbar-inverse .navbar-nav > li > a:hover {color: #f99924;background-color: transparent;border-bottom: 4px solid #f99924;}
header .navbar-inverse .navbar-nav > .active > a, 
header .navbar-inverse .navbar-nav > .active > a:focus,
header .navbar-inverse .navbar-nav > .active > a:hover {color: #f99924;background-color: transparent;border-bottom: 4px solid #f99924;}
header .navbar-inverse .navbar-nav > li > a.active, 
header .navbar-inverse .navbar-nav > li > a.active:focus,
header .navbar-inverse .navbar-nav > li > a.active:hover {color: #f99924;background-color: transparent;border-bottom: 4px solid #f99924;}
header .navbar-inverse .navbar-nav{margin-top: 7px;}
header .navbar-inverse .navbar-nav > .open > a, 
header .navbar-inverse .navbar-nav > .open > a:focus, 
header .navbar-inverse .navbar-nav > .open > a:hover {color: #f99924;background-color: transparent;}
header .navbar-nav > li > a {padding-top: 0;padding-bottom: 0;}
header .navbar-inverse .navbar-nav>li>a {color: #000;}
header .nav > li > a {padding: 18px 2px;}
header .navbar-nav > li {margin-right: 25px;}
header .caret {vertical-align: top;border-top: 7px dashed;border-right: 5px solid transparent;border-left: 5px solid transparent;margin-top: 6px;}
header .navbar-btn{margin-top: 15px;color: #f99924 !important;padding: 6px 35px;float: right;}
header .webgurukul-logo{height: 58px; margin: 0 auto;}
/*dropdown - header nav*/
.navbar-right .dropdown-menu {right: auto;left: 0;min-width: 260px;}
.dropdown-menu{box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.25);}
.dropdown-menu > li > a{padding: 10px 20px;}
.navbar .dropdown-menu a{font-weight: bold;color: #787878;padding: 12px 50px 12px 18px;font-size: 14px;}
.dropdown-menu{padding: 0;border: none;}
.dropdown-submenu .dropdown-menu {min-width: 200px;}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {color: #f99924;text-decoration: none;background-color: #f9f9f9;}
.dropdown-submenu {position: relative;}
.dropdown-submenu>.dropdown-menu {top: 0;left: 100%;margin-left: -1px;}
.dropdown-submenu:hover>.dropdown-menu {display: block;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu.pull-left>.dropdown-menu {left: -100%;margin-left: 10px;}
.dropdown:hover .dropdown1{display: block;position: relative;}
.dropdown-arrow{font-weight: 900;}
.dropdown1 > li:hover .dropdown-arrow{right: -3%;}
.dropdown-submenu>.dropdown-menu {top: -2px;}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color:  #f99924!important;background-color: #f9f9f9;}
.dropdown-arrow{margin-right: 20px;position: absolute;right: 0%;transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.dropdown-arrow-rotate {transform: rotate(90deg);}
/*header shrink*/
/*header.sticky{top: -41px;transition: 0.3s ease-in-out}*/
.sticky .webgurukul-logo{height: 48px;transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.sticky .nav > li > a{padding: 14px 2px;transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.sticky .navbar-inverse .navbar-nav{margin-top: 0;transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.sticky .navbar-inverse{padding-top: 4px;transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.sticky .navbar-btn {margin-top: 6px;}
/*scroll top*/
.material-scrolltop span{font-size: 17px;font-weight: 700;}
.material-scrolltop{background-color: #0b2c4b;box-shadow:0 0 6px rgba(255, 255, 255, 0.89);bottom: 85px;right: 22px;z-index: 5;}
.material-scrolltop.reveal {width: 35px;height: 35px;}
.material-scrolltop span { font-size: 10px;}
.material-scrolltop:hover {background-color: #0b2c4b;box-shadow: 0 0 6px rgba(255, 255, 255, 0.89);}
/*end header*/

/*responsive menu tab and mobile*/
.overlay {background:rgba(0,0,0,0.4);z-index: 0;position: fixed;top: 0;right: 0;left:0;bottom:0;}
.sidenav-left {position: fixed;background-color: #fff;height: 100%;width: 280px;color: #0b2c4b;top: 0;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;opacity: 1;font-family: 'quicksandregular';z-index: 100;padding-top: 40px;}
.sidenav-left .menu-ul1 {list-style: none;margin-top: 0;padding: 0;}
.menu-ul1{height: 100%;overflow-y: scroll;}
.menu-ul1 li a {color: #686f7a;font-size: 15px;display: block;padding: 10px 0 10px 18px;text-decoration: none;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;font-weight: 600;}
.menu-ul1 a i {margin-right: 15px;font-size: 18px;margin-top: 3px;width: 20px;}
.menu-ul1 a i[class*='fa-caret'] { float: right; }
.menu-ul1 a:hover,.menu-ul1 a.active {background-color: #07243e;color: #fff;}
.menu-ul1 a:hover i:first-child::before { color: #fff; }
.menu-ul1 a i:first-child::before {position: relative;top:4px;font-size: 20px;font-weight: 600;}
.menu-ul1 li a.active+ul { display: block }
i.fas.fa.fa-angle-right{font-size: 40px;margin-top: -9px;}
.menu-ul1 li ul {margin-top: 0;display: none;}
.menu-ul1 li ul li { border-bottom: none; }
.menu-ul1 li ul li a { padding-left: 30px; font-size: 14px; }
.menu-ul1 li ul li a:hover { background-color: #07243e; }
.sidenav-left {right: -280px;}
.show {right: 0;}
#showmenu {margin-left: 100%;position: fixed;top: 5%;right: 2%;padding: 6px 10px 7px 10px;font-size: 2em;color: #f99924;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;font-weight: 700;}
#container {padding: 50px;}
.closebtn {position: absolute;top: 1%;right: 4%;font-size: 36px;margin-left: 50px;}
#showmenu, .closebtn{background-color: transparent;border: none;}
/*end responsive menu tab and mobile*/

/*start of top-slider*/
.top-slider{margin-top: 80px;margin-bottom: 20px;}
.slider-heading{font-size: 40px; font-family: 'quicksandbold';margin:0;padding:0;color: #fff;text-shadow: 0 2px 7px rgba(0, 0, 0, 0.25);}
/*.top-slider .s-bg1{height: 595px;}*/
.slider-p1{margin-top: 10px; font-family: 'quicksandbold';font-size: 18px;color:#fff;}
.carousel-caption.slider-div{top: 28%;left: 12%;text-align:left;color:#333;text-shadow: none;}
.slider-btn{margin-top: 10px;position: relative;}
.slider-arrow{font-size: 40px;}
.slider-btn:hover .slider-btn-arrow{right: 15px;}
.slider-btn-arrow{position: absolute;top: 16px;right: 23px;transition: 0.3s ease-in-out;font-size: 13px;}
.top-slider .carousel-control{color: #f99924;width: 5%;}
.top-slider .carousel-control:focus, .top-slider .carousel-control:hover{color: #f99924;}
.carousel-caption.slider-div .btn-line-orng {
    padding: 12px 30px;
    font-size: 16px;
    margin-top: 20px;
}
/*end of top-slider*/

/*section-1 -home page*/
.training-company .section1-para p{margin-bottom: 30px;}
.course-box {box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 3px rgba(0,0,0,.45);border-radius: 6px;text-align: center;padding: 30px 20px 20px;transition: 0.3s ease-in-out;min-height: 380px;margin-top: 30px;}
.course-box:hover{box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 16px 0 rgba(0, 0, 0, 0.19);}
.course-circle{height: 100px;width: 100px;border-radius: 50%;background-color: #f99924;text-align: center;margin: 0 auto;}
.course-circle img {width: 70%;padding: 13px 0;}
.course-icon{line-height: 100px;font-size: 52px;}
.training-company .read-btn{margin-top: 10px; padding: 12px 48px;}
/*.course-row{margin-top: 30px;}*/
.course-module-div{margin-top: 30px;}
.para-margin-top{margin-top: 40px;}

/*end section-1 -home page*/

/*start brochure-section*/
.brochure{background-image: url(../img/brochure-bg.jpg);height: 380px;color: #fff; position: relative;}
.brochure h2{line-height: 47px;margin-bottom: 20px}
.brochure .sec-subheading{margin-right: 73px;}
.brochure .download-btn{margin-top: 32px;}
.video-div{cursor: pointer;}
.video-div img{height: 330px; transition: all 0.4s ease-in-out;-ms-transition: all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;}
.youtube-icon{font-size: 90px;opacity: 0.7;transition: all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;}
.video-div a{position: absolute;left: 0;right:0;top: 35%; z-index: 1;text-align: center;}
.video-text{opacity: 0;position: absolute;left: 0;right:0;top: 61%; z-index: 1;transition: all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;}
.video-div:hover img{  opacity: 0.6;}
.video-div:hover .youtube-icon, .video-div:hover .video-text{opacity: 1;}
.video-modal .video-close{background: #fff;border: 3px solid #1e1f2a;border-radius: 50%;color: #000;font-size: 20px;line-height: 0.8em;padding: 5px 8px;position: absolute;right: -16px;top: -15px;z-index: 5;}
.video-modal .close{opacity: 1;}
.video-modal .modal-header{padding: 0;border: none;}
.video-modal .modal-content {position: relative;background-color: #000;border:none;}
.video-modal iframe {border-width: 0;border-style: none;border-color: none;border-image: none;}
/*end brochure-section*/

/*start why to join webgurukul*/ 
.why-join .join-points ul{margin-top: 20px;}
.why-join .join-points ul > li{margin-bottom: 8px;}
.why-join .join-icon{font-size: 32px;margin-right: 13px;vertical-align: bottom;}
.why-join-subheading .join-heading2{color: #96999c;text-align: left;padding-left: 107px;}
.why-join .percent-div{border: 1px solid #efefef; cursor: pointer; border-radius: 58px; height: 82px;padding: 5px 15px 5px 5px;margin-top: 20px;box-shadow: 0.3px 0.3px 3px rgba(0,0,0,0.1);transition: 0.3s ease-in-out;-ms-transition: 0.3s ease-in-out;-webkit-transition: 0.3s ease-in-out;-moz-transition: 0.3s ease-in-out;-o-transition: 0.3s ease-in-out;}
.why-join .percent-div:hover{padding-right: 5px;}
.why-join .percent-circle{height: 70px; width: 70px;float: left; background-color:  #f99924;border-radius: 50%;text-align: center;color: #fff;font-weight: bold;}
.why-join .percent-circle .icon-100p{font-size: 30px;line-height: 70px;}
.why-join .percent-circle .icon-10p{font-size: 44px;line-height: 70px;}
.why-join .percent-div .point-1{float: left;margin-left: 12px;vertical-align: middle;margin-top: 30px;line-height: 12px;}
.why-join .percent-p{color: #909090;}
.why-join .point-p{font-weight: bold; font-size: 18px;}
.why-join-subheading .join-heading1{color: #333232; text-align: left;}
.join-right-arrow{float: right;line-height: 4.5;color: #909090;}
.join-modal .modal-content{border-radius: 4px;}
.join-modal .modal-sm{width: 400px;}
.join-modal .modal-header{border-bottom: none;}
.join-modal .modal-footer {border-top: none; }
.join-modal .modal-body{padding: 0 40px 15px;text-align: justify;}
.join-modal .close{opacity: 1;font-size: 13px;}
/*end why to join webgurukul*/ 

/*start counts section*/
.counts-section{background-image: url(../img/counts-bg.jpg);height: 254px;color: #fff;}
.counts{color: #a9fd00;font-size: 50px;font-family: 'quicksandbold';}
.count-text{color: #f3f3f3;font-size: 20px;font-family: 'quicksandmedium';vertical-align: top;}
.count-row{margin-top: 60px;}
/*end counts section*/

/*start testimonial-slider -home page */
.testimonial .sec-subheading{margin-bottom: 50px;}
.testimonial .t-slider-div{position:relative;background-color: #fff;font-size: 18px; border: 2px solid #d1cfcf; border-radius: 4px;min-height: 225px;padding: 20px;}
.testimonial .quote-icon{font-size: 30px;}
.testimonial .student-photo{height: 80px; width: 80px; border-radius: 50%;margin: 40px auto 0;}
.testimonial .name{font-size: 16px;font-family: 'quicksandbold'; margin-top: 5px;}
.testimonial .batch{font-size: 14px; font-family: 'quicksandregular';line-height: 0px;}
.testimonial .arrow-div{height: 40px;width: 40px;border: 2px solid #d1cfcf;transform: rotate(135deg);-ms-transform: rotate(135deg);-webkit-transform: rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);position: absolute;top: 91.8%;left: 46%;background-color: #fff;border-bottom: 2px solid transparent;border-left: 2px solid transparent;}
.testimonial .t-slider-div:hover{border: 2px solid #f99924;}
.testimonial .t-slider-div:hover .arrow-div{border-top: 2px solid #f99924;border-right: 2px solid #f99924;}
.bx-wrapper .bx-viewport{-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;}
.bx-viewport{height: 419px;}
/*end testimonial-slider */

/*start bolg-section - home page*/
.blog-section .sec-subheading{margin-bottom: 30px;}
.blog-section .blog-box{background-color: #fff;min-height: 415px;padding: 10px 10px 20px;box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.1);border-radius: 4px;text-align: center;}
.blog-section .blog-box img{margin-bottom: 10px;}
.blog-section .reading-btn{margin-top: 10px;}
.blog-text-small{font-size: 14px;}
.blog-heading{font-size: 18px;font-family: 'quicksandbold';}
/*end bolg-section - home page*/

/*contct-us page*/
.contact-banner{background-image: url(../img/contact-banner.jpg);}
.contact-page .send-btn{margin-top: 30px;padding: 10px 30px;border-radius: 35px!important;}
.contact-page h1{padding-left: 29px;margin-bottom: 10px;}
.contact-page .sec-subheading{margin-top: 0; margin-bottom: 30px;}
.cont-color1{color: #888888;}
.cont-color2{color: #4b4b4b;}
.contact-info p{line-height: 22px;}
.contact-info .row{margin-bottom: 20px;}
.cont-add .addr2{margin-top: 18px;}
.contact-info p {margin: 0 0 3px;}
.contact-info .get-direction{color: #f99924;}
.contact-page-icon{font-size: 20px;}
.contact-page-arrow{transition: 0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out; margin-left: 8px;}
.get-direction:hover .contact-page-arrow{margin-left: 14px;}
/*end contact page*/

/*blog-page*/
.blog-banner{background-image: url(../img/blog-banner.jpg);}
.blog-page, .blog-details{background-color: #f1f2f7;padding: 24px 0 22px 0;}
.blog-page-subheading{font-size: 28px; font-family: 'quicksandmedium';line-height: 34px;}
.blog-page-div{background-color: #fff;margin-bottom: 20px;box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.1);border-radius: 4px;}
.blog-page-date{color: #f99924;float: right;}
.blog-div-row1, .blog-div-row3{padding: 30px 20px 20px;}
.blog-page-reading-btn{margin-top: 20px;}
.blog-aside-div{padding: 30px 20px 30px;color: #606060;}
.blog-aside-div p{margin-bottom: 20px;}
/*pagination*/
.blog-pagination ul{margin: 0;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {color: #fff;background-color: #f99924;border-color: #f99924;padding: 6px 14px;}
.pagination .page-link:focus {background-color: transparent;}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {color: #fff;background-color: #f99924;border-color: #f99924;}
.blog-pagination li > a{margin-right: 10px;}
.pagination .page-item .page-link {border: 1px solid #cccccc;}
.pagination .page-item:last-child .page-link{border: 1px solid #f99924;}
.pagination>li>a, .pagination>li>span{background-color: transparent; color: #cccccc;border-radius: 4px;}
.pagination>li:last-child>a, .pagination>li:last-child>span{background-color: transparent; color: #f99924;}
.pagination .active .page-link{box-shadow: none;}
/*end of blog-page*/

/*blog-details*/
.blog-detls-banner{background-image: url(../img/blog-detls-banner.jpg);}
.blog-detls-subheading, .blog-name{margin-top: 25px;}
.blog-detls-subheading, .note, .blog-name{font-family: 'quicksandbold';}
.blog-name{color: #f99924;margin-bottom: 0;}
.blog-social-div li > a > span{font-size: 28px;border: 2px solid transparent;border-radius: 50%;}
.blog-social-div li > a > span:hover{border-color: #f99924;}
.blog-aside-div li{display: inline;float: left;margin-left: 10px;}
.blog-social-div ul{padding: 18px 22px 0px;}
.blog-social-div .blog-aside-div{padding: 0;}
.blog-social-div p{margin-top: 3px;}
.blog-link:hover a{color: #f99924;}
.blog-link:hover span{color: #f99924;}
/*end blog-details*/

/*about-us page*/
.about-banner{background-image: url(../img/about-banner.jpg);}
.trainer-photo-circle{text-align: center;line-height: 15px;margin-top: 50px;}
.trainer-photo-circle img{height: 192px;width: 192px;border-radius: 50%;border:1px solid transparent;margin: 0 auto;margin-bottom: 20px;}
.who-we-image{float: right;width: 300px;margin-left: 20px;}
.abt-xs-content{text-align: justify;}
.about-section2 .course-details-headings {margin:20px 0 ;}
/*end about-us page*/

/*gallery page*/
.gallery-banner{background-image: url(../img/gallery-banner.jpg);}
.gallery-heading{float: left;}
.gallery-tab{float: right;}
.gallery-page .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {color: black;background-color: transparent;border-bottom: 4px solid orange;}
.gallery-page .nav-pills>li>a {border-radius: 0; }
.gallery-page .nav>li>a:focus, .nav>li>a:hover {background-color: transparent; }
.gallery-page .nav>li>a {padding: 10px;color: #515151;font-weight: bold;}
.gallery-page .nav-pills>li+li {margin-left: 10px;}
.gallery-page h3{margin: 0;}
.gallery-page img{box-shadow: 0px 1.6px 3px rgba(0,0,0,0.3);border-radius: 4px;}
.gallery-img-div{position: relative; margin-top: 38px;height: 215px;
    overflow: hidden;}
.gallery-img-div p{padding-left: 15px;margin: 0;}
.text-strip{position: absolute;background-color: #fff;bottom: 7%;left: 0;box-shadow: 0px 1.6px 3px rgba(0,0,0,0.3);margin-left: 13px;width: 0;height: 42px;line-height: 42px;overflow: hidden;transition: 0.3s ease-in-out;}
.gallery-modal{position: relative;}
.gallery-modal .gallery-close{background: transparent;border: 3px solid #fff;border-radius: 50%;color: #fff;font-size: 20px;line-height: 0.8em;padding: 5px 9px;position: absolute;right: -27px;top: -24px;z-index: 7;opacity: 1;transition: 0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;}
.gallery-img-div:hover .text-strip{ width: 200px;transition: 0.4s ease-in-out;-ms-transition:0.4s ease-in-out;-webkit-transition:0.4s ease-in-out;-moz-transition:0.4s ease-in-out;-o-transition:0.4s ease-in-out;} 
.gallery-desk-tab{display: block;}
.gallery-xs{display: none;}
.gallery-xs p{text-align: center;margin-top: 8px;font-weight: bold;font-size: 20px;}
/*end gallery page*/

/*courses page*/
.course-page-banner{background-image: url(../img/course-page-banner.jpg);height: 210px;margin-top:80px;padding-top: 74px;}
.course-page-banner .breadcrumb{padding: 8px 0 0 2px;}
.course-brochure-div{background-image: url(../img/course-brochure-bg.jpg);border-radius: 4px;text-align: center;padding: 35px 0;}
.course-brochure{margin-top: 5px;}
.course-icon1{font-size: 88px;}
.course-module .course-circle{background-color: #076390;}
.course-module .course-module-div{min-height: 382px;background-color: #fff; box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.2);height: auto;text-align: center;padding: 20px;border-radius: 4px;width: 310px;margin-top: 25px;}
.tech-workshop.course-module .course-module-div{min-height: 302px;}
.internship-section.course-module .course-module-div{width:100%;min-height: 425px;}
.learn-web-design .web-design-info{text-align: justify;padding-right: 43px;}
.margin-right-15{margin-right: -15px;}
.margin-left-15{margin-left: -15px;}
.course-module .course-row{margin-left: 30px;}
.what-to-learn-row, .course-reviews-row{margin-top: 30px;}
.what-to-learn-div{padding-left: 0;}
.check-icon1{font-size: 30px;}
.what-to-learn .sec-subheading{margin-bottom: 50px;}
.what-to-learn-para{margin-top: 3px;}
.course-page-contact{background-image: url(../img/course-page-contact.jpg);padding: 60px 0;color: #fff;text-align: center;}
.course-page-contact .sec-subheading{padding: 0 246px; margin-bottom: 35px;}
.review-heading{margin-bottom: 60px; padding-left: 28px;}
.review-subheading {font-family: 'quicksandmedium';font-size: 20px;}
.review1{margin-top: 10px;}
.wkl-star{margin-right: 3px;font-size: 12px;}
/*courses button*/
.courses-border-btn1{margin-top: 20px;border-color: #076390;}
.courses-border-btn1:hover{background-color: #076390;}
.courses-fill-btn{color: #2199cb !important;}
.courses-border-btn2{border: 2px solid #fff; color: #fff;background: #2099cc;}
.courses-border-btn2:hover{background-color: #fff;color: #2199cb !important;}
.register1-btn{margin-top:30px;padding: 12px 59px;}
.download1-btn{margin-top: 10px;padding: 12px 20px;}
.see-more-btn{margin-top: 30px;}
.contact-btn1{margin-left: 30px;}
/*end courses page*/

/*course details page*/
.course-details{padding: 20px 0 50px;}
.course-details h1{margin-bottom: 20px;}
.course-details-block{background-color: #fff;border-radius: 4px;padding:30px 25px 25px;box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.2);margin-bottom: 10px;}
.course-dtls-side-div{background-color: #fff;border-radius: 4px;padding: 15px 20px;box-shadow: 0.5px 0.5px 2px rgba(0,0,0,0.2);text-align: center;}
.course-details-fix-div{margin-top: -130px;width: 270px;transition: 0.3s ease-in-out;-ms-transition:0.3s ease-in-out;-webkit-transition:0.3s ease-in-out;-moz-transition:0.3s ease-in-out;-o-transition:0.3s ease-in-out;z-index: 22;}
.course-details-fix-div .course-circle1{height: 130px;width: 130px;border-radius: 50%;background-color: #076390;text-align: center;margin: 0 auto;border: 13px solid #e2e4e6;margin-bottom: 15px;}
.course-dtls-side-div1, .other-course-section1, .course-list-div{display: none;}
.course-icon2 {line-height: 115px;font-size: 75px;}
.course-icon3{line-height: 106px;font-size: 55px;}
.register2-btn{background-color: #2199cb;border: 2px solid #2199cb;color: #fff;padding: 12px 76px;}
.download2-btn{border: 2px solid #2199cb; color: #2199cb !important;padding: 12px 34px; }
.register2-btn:hover{color: #2199cb !important;background-color: transparent;}
.download2-btn:hover{background-color: #2199cb;color: #fff !important;}
.certificate{color: #32c748;}
.certificate-icon{font-size: 20px;vertical-align: middle;}
.course-details-fix-div p{font-family: 'quicksandmedium';} 
.certificate-text{font-size: 14px;vertical-align: middle;}
.course-details-headings{font-family: 'quicksandmedium';font-size: 24px;padding-left: 25px;padding-right: 25px;margin-top: 0;}
.course-details-block2 ul{margin-bottom: 20px}
.course-details-block2 li{color: #3cca51;list-style-type: disc;font-size: 25px; margin-left: 25px;}
.course-details-block2 li span{color: #333333;font-size: 16px;}
.course-module-list{padding:30px 0 0;position: relative;}
.course-module-list .lg{font-size: 16px; font-family: 'quicksandbold';}
.course-module-list p{padding-left: 25px;padding-right: 25px;}
.course-module-list ul li{border-top: 1px solid #f2f2f2;}
.course-module-list ul{margin-bottom: 0;}
.course-module-list ul li a{padding: 10px 25px;display: block; font-family: 'quicksandmedium';}
.course-module-list ul li a:hover, .course-module-list ul li a:focus{color: #333333;}
.course-module-list ul li ul li a{padding-left: 50px;}
.dropdown-list .wkl-paper{font-size: 20px;margin-right: 10px;color: #4bcd5e;}
.dropdown-list span{vertical-align: middle;}
.course-module-list .list-toggle-icon{position: absolute;right: 2%;font-size: 12px;margin-top: 5px;}
.dropdown-list li {background-color: #f9f9f9;}
.course-details-review .course-review-div{border-bottom: 1px solid #f2f2f2;}
.other-course-section .course-module-div{height: 376px;text-align: center;box-shadow: 0.5px 0.5px 6px rgba(0,0,0,0.16);padding: 10px 10px 15px;border-radius: 4px;}
.other-course-section .course-circle{margin: 0 auto;background-color: #036ea2;}
.other-course-section .course-circle img{margin:13px auto;width:50%;}
.other-course-section h3{margin: 10px 0 5px;font-size:20px;line-height: 30px;}
.course-module-div .para-margin-top{margin-top: 31px;}
.other-course-section h2{margin-bottom: 30px;}
.fixed{position: fixed;top: 230px;}
.bottom{top: auto;bottom: 0;position: absolute;}
.block {width: 306px;height: 230px;}
#mixedSlider .MS-content {height: 430px;}
/*end course details page*/

/*register modal*/
.register-modal{position: relative;}
.register-modal .resgister-close{background: #fff;border: 2px solid #f99924;border-radius: 50%;color: #000;font-size: 11px;line-height: 0.8em;padding: 8px;position: absolute;right: -12px;top: -12px;z-index: 5;opacity: 1;box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.3);}
.register-modal .modal-title {font-family: 'quicksandmedium';color: #f99924;font-size: 24px;}
.submit-btn{padding: 6px 32px; box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3) !important;border-radius:35px;}
.register-modal .modal-content{border-radius: 6px;}
.register-modal .modal-body{padding: 26px 15px 15px;}
.register-modal .resgister-close span{vertical-align: middle;}
.rocket-div{background-color: #f99924;border-top-left-radius: 6px;border-bottom-left-radius: 6px;}
.rocket-div .webgurukul-icon{width: 60px;margin: 0 auto; margin-top: 35px;}
.rocket-div .rocket-img{opacity: 0.3;width: 100%;border-bottom-left-radius: 6px;margin-top: 160px;}
.rocket-div{position: relative;}
.rocket-div .tranparent-arrow{width: 0;height: 0;border-top: 8px solid transparent;border-right: 12px solid #fff;border-bottom: 8px solid transparent;float: right;margin-top: 55px;}
.register-modal .modal-header, .register-modal .modal-footer{padding: 18px 0;border-color: #f3f3f3;margin: auto 30px;}
.check-text{font-size: 18px;margin-top: 10px;}
/*checkbox*/
.r-checkbox{margin-bottom: 6px;}
.r-checkbox span{margin-right: 20px;}
/*end register modal*/

/*start registration page*/
.registration-page{margin-top: 80px;}
.registration-page h2{margin-bottom: 30px;}
.registration-page .submit-btn{margin-top: 30px;border-radius:35px;}
.reg-form{background-color: #fff; padding:30px 15px 20px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);}
/*end registration page*/

/*start register-section - all page*/
.register-section{background-image: url(../img/register-bg-img.jpg);height: 305px;color: #fff;padding: 60px 0;}
.register-section .register-btn{margin-top: 30px;}
.register-section .register-btn.fill-btn2:hover, .brochure .download-btn:hover { background-color: #f99924;}
 
.register-section h2{margin-bottom: 20px;}
/*end register-section*/
/*internship page*/
.internship-module-div {background: #fff;
    padding: 0;    
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(165, 165, 165, 0.5);position: relative;max-width: 500px;margin-top: 30px;}
.internship-module-div h3 {    background-color: #fc961a;
    background-image: url(../img/module-header-bg.png);
    margin: 0;
    padding:35px 30px;
    color: #fff;
    background-size: 385px; background-position: 8px 11px;}
.module-details {padding: 15px 30px 15px;}
 ul.check-list li {position: relative;padding-left: 30px;margin: 12px 0;}
 ul.check-list li:before {font-family: 'wkl' !important;content: "\ea39";color: #fc961a;position:absolute;font-size: 18px;
    top: -1px;left: 0;}
.btn-line-orng {border:1.5px solid #fca030; color: #fff!important;padding:7px 35px;
    font-size: 14px;background: #fca030;}
    .btn-line-orng:hover, .btn-line-orng:focus {background-color:#fa8e0c; color:#fff!important; }
.btn-line-black {border:1.5px solid #0f3c66; color:#fff!important;padding:7px 35px;
    font-size: 14px;background: #0f3c66;}
.btn-line-black:hover, .btn-line-black:focus {background-color: #0b2c4b;color: #fff!important;}
.btn-section {margin-top: 25px;}
.btn-section .btn-line-orng {margin: 0 15px 0 0;}
.blue-badge {font-family: 'quicksandbold';
    font-size: 14px;
    background-color: #00c0ff;
    border-radius: 50%;
    color: #fff;
    width: 80px;
    height: 80px;
    display: block;
    padding:20px 6px;
    text-align: center;
    box-shadow: 0 0 6px rgba(51,51,51,0.6);position: absolute;
    top: 6px;
    right: -17px;
    line-height: 18px;}
.clr-green h3 {background-color: #06c663;}
.clr-green ul.check-list li:before {color: #06c663;}
.btn-line-green {border:1.5px solid #06c663; color: #fff!important;padding:7px 35px;
    font-size: 14px;background: #06c663;}
.btn-line-green:hover, .btn-line-green:focus {background: #0da959;}
.light-grey {background-color: #fafafc;}
.course-card {background: #fff;
    text-align: center;
    margin: 20px 0;
    padding: 20px 0;
    box-shadow: 0 0 7px rgba(51,51,51,0.423);border-radius: 5px;}

.course-card a {color:#0096ff;font-size: 16px; font-family:'quicksandmedium';}
.course-card .dir-arrow {position: relative;left:5px; transition: 0.3s all;}
.course-card a:hover .dir-arrow {left:12px;}
.course-star {background-color: #2198cc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: block;
    padding: 4.5px;top: 0;
    right: 0px;border:1.5px solid #fff;position: absolute;}
.course-star .wkl-star:before {color:rgb(255,255,255);}
.course-star .wkl-star{ font-size: 18px;}
.course-card .course-circle {position: relative;}
.course-star.clr-green {background-color: #06c663;}
.new-strip {color:#fff;background-color:#06c663;padding:0 5px;position: absolute;top: 25px;
    left: 0;font-weight: bold;font-family: 'quicksandmedium';}
.new-strip:after {content: "";
    width: 0;
    height: 0;
    border-left: 12px solid #06c663;
    border-right: 12px solid transparent;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    right: -24px;
    position: absolute;}
/*start footer*/
footer{color: #ebebeb;}
footer a{color: #ebebeb;display: block;}
footer a:focus {color:  #f99924;}
.footer-subheading{color: #fff;margin-bottom: 20px;}
.footer-top{background-color: #15181d; padding: 40px 0;}
.footer-top a:hover{color:  #f99924;}
.footer-inner, .google-partner{padding-top: 25px;}
.footer-inner li{display: inline;float: left;margin-right: 7px;}
.footer-inner span{font-size: 30px;}
.footer-inner p{font-size: 14px;}
.footer-top p{line-height: 18px;}
.footer-top ul > li{margin-bottom: 2px;}
.footer-about img{margin-top: 10px;}
.footer-icon{font-size: 16px;vertical-align: top;}
.links-footer{border-right: 1px solid #999494;}
.footer-contact .row{margin-bottom: 10px;}
.footer-courses1{padding-left: 20px;}


#breadcrumbs {color:#fff;}
#preloader  {position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: #fefefe;z-index: 99;}
#status  {width: 400px;height: 400px;position: absolute;left: 0;top: 50%;right:0;background-image: url(../img/guru-loader.gif);background-size:200px;background-repeat: no-repeat;background-position: center;margin:-200px auto 0;}
.docFade{background:rgba(0,0,0,0.4);z-index: 0;position: absolute;top: 0;right: 0;left:0;bottom:0;}
.rr_review_form .form_table .rr_form_row .rr_form_input input[type="text"] {width: 100%;height: 25px;margin-bottom: 15px;}
.tptn_link span.tptn_title {position: relative;padding-left:25px;}
.tptn_link span:before {content: "\e9c0";position: absolute;left: 0;font-family: 'wkl' !important;}

.social-sharing.ss-social-sharing a {
    width: 40px;
    border-radius: 50%;
    height: 40px;border: 1.5px solid transparent;}
.social-sharing.ss-social-sharing .ss-button-facebook {background: url(../img/facebook.svg) no-repeat;}
.social-sharing.ss-social-sharing .ss-button-twitter {background: url(../img/social.svg) no-repeat;}
.social-sharing.ss-social-sharing .ss-button-googleplus {background: url(../img/google-plus.svg) no-repeat;}
.social-sharing.ss-social-sharing .ss-button-linkedin {background: url('../img/linkedin-button.svg') no-repeat;}
.social-sharing.ss-social-sharing a:hover {
    border-color: #f99924;
}
.social-sharing.ss-social-sharing .before-sharebutton-text{margin-top: 16px;
    margin-right: 16px;
    font-weight: bold;}
.wkl-smo .path1:before, .wkl-smo .path2:before, .wkl-smo .path3:before, .wkl-smo .path4:before, .wkl-smo .path5:before, .wkl-smo .path6:before, .wkl-smo .path6:before, .wkl-smo .path7:before, .wkl-smo .path8:before {
    color: rgb(255, 255, 255);
}

.banner-pop {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
}

.banner-pop .banner-pop-blog {
    top: 39px;
    left: 0;
    position: relative;
    max-width: 50%;
    width: 100%;
    z-index: 734626274;
    background: #fff;
    color: #000;
    right: 0;
    bottom: 0;
    margin: auto;
}
.temp-links .btn {padding: 10px 25px;}
#tclose {
    position: absolute;
    background: #fff;
    color: #000;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 4px 0 #000;
}

.custom-flex {display: flex;justify-content: center;}

.es_shortcode_form_name {display: none;}
#es_txt_name_pg {display: none;}
.es_textbox {float: left;}
#es_txt_email_pg {border: 1px solid #f7f7f7; box-shadow: none;color:#fff!important;position: relative;}
.es_textbox_button {
    width: 54px!important;
    height: 45px;
    background-color: #2199cd;
    background-image: url(../img/sent-mail.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
    float: right;
    color: transparent;
    position: absolute;
	right: 2px;
}
.es_button {padding:0!important;}
.es_shortcode_form_email {position: absolute;bottom: 15px;left: 8px;}
.subscribe-row p.footer-subheading {margin-top:20px;margin-bottom:10px;}
.course-module.web-designing .course-module-div {min-height: 425px;}

/*footer .tooltip-arrow,*/
/*.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}*/

footer .tooltip .tooltip-inner {background-color: #fff; top:-25px;color:#000;opacity:1;}

footer .tooltip.top .tooltip-arrow {border-top:5px solid #fff;opacity:1;}

/*end footer*/
/*responsive*/
@media only screen and (max-width: 1367px){
	/*.top-slider .s-bg1{height: 558px;}*/
	.carousel-caption.slider-div {top: 26%;left: 7%;}
	.material-scrolltop {right: 28px;}
	.enquiry-video { right: 220px;}
	/*.top-slider { margin-top: 110px;}*/
	.carousel-caption.slider-div {top: 20%;}
}
@media only screen and (max-width: 1281px){
	.slider-heading{font-size: 36px;}
	.slider-p1{font-size: 16px;}
	/*.top-slider .s-bg1{height: 525px;}*/
	#mixedSlider .MS-controls .MS-right {right: 68px;}
	#mixedSlider .MS-controls .MS-left {left: 68px;}
	.material-scrolltop {right: 22px;}
	.top-slider { margin-top: 80px;}
}

@media only screen and (max-width: 1025px){
	.navbar-nav > li{margin-right: 15px;}
	.carousel-caption.slider-div{left: 80px; top:12%;}
	.why-join .join-icon {margin-right: 8px;}
	.why-join .point-p {font-size: 14px;}
	.counts-section{height: auto;}
	.count-div{margin-bottom: 40px; text-align: center;}
	.training-company .course-box{padding: 30px 16px 20px;}
	.footer-top ul > li {margin-bottom: 10px;}
	.gallery-page img{height: auto;}
	header .webgurukul-logo{height: 48px;}
	.material-scrolltop {bottom: 13%;}
	.blog-aside-div li {margin-left: 3px;}
	.course-module .course-module-div{width: auto;height: 416px;}
	.course-module.web-designing .course-module-div {min-height: 465px;}
	.course-brochure{margin-top: 20px;}
	.course6-margin-top, .course-module-div .para-margin-top{margin-top: 0;}
	.para-margin-top-on1024{margin-top: 40px;}
	.footer-courses1 {padding-left: 0;}
	.brochure .sec-subheading {margin-right: 0;}
	.register-modal .modal-content .col-xs-2{display: none;}
	.other-course-section h3{font-size: 18px;}
	.other-course-section .courses-border-btn1{margin-top: 0;padding: 12px 30px;}
	#mixedSlider .MS-controls .MS-right {right: 25px;}
	#mixedSlider .MS-controls .MS-left {left: 25px;}
	.other-course-section .course-module-div { height: 435px;}
	#mixedSlider .MS-content {height: 480px;}
	.es_textbox_button {right:-8px;}
	.module-details {padding: 15px 15px 15px;}
}

@media only screen and (max-width: 981px){
	header .webgurukul-logo{height: 48px;}
	.navbar-header, .navbar-left,.navbar-right, .navbar-nav>li {float: none !important;}
	.navbar-toggle {display: block;padding: 10px 18px 0;margin-top: 0;border-radius: 0;color: #fff;font-weight: bold;}
	.navbar-collapse {border-top: 1px solid transparent;box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
	.navbar-fixed-top {top: 0;border-width: 0 0 1px;}
	.navbar-collapse.collapse {display: none!important;}
	.navbar-nav {float: none!important;margin-top: 7.5px;}
	.navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
	.collapse.in{display:block !important;}
	.navbar-inverse .navbar-toggle{background-color: #f99924;border:0;}
	.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {background-color: #0b2c4b;border-radius:0;}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color: #0b2c4b;background-color: #0b2c4b;width: 50%;position: absolute;z-index: 2;right: 3.5%;margin-top: -8px;}
	header .navbar-inverse .navbar-nav > .active > a, header .navbar-inverse .navbar-nav > .active > a:focus, header .navbar-inverse .navbar-nav > .active > a:hover {color: #fff;background-color: transparent;border-bottom: none;}
	header .navbar-inverse .navbar-nav > li > a:focus, header .navbar-inverse .navbar-nav > li > a:hover {color: #fff;background-color: transparent;border-bottom: none;}
	header .navbar-inverse .navbar-nav > li > a {border-bottom: none;}
	.register-icon:focus, .register-icon:hover {color: #0b2c4b;}
	.training-company .course-box{margin-bottom: 20px;min-height: auto;}
	.brochure{height:auto;}
	.blog-section .blog-box{height: auto;margin-bottom: 20px;}
	.why-join h2{margin-bottom: 20px;text-align: center;}
	.why-join .point-p {font-size: 18px;}
	.testimonial .arrow-div{top: 92.8%;}
	.links-footer {border-right: none;}
	.footer-contact{padding-left: 0;}
	.footer-about {margin-bottom: 40px;}
	.footer-top ul > li{margin-bottom: 5px;}
	.video-div img{margin-top: 30px;height: auto;}
	.contact-info{margin-top: 42px;}
	.text-strip{width: 150px;}
	.gallery-page ul, .trainer-photo-circle {margin-top: 40px;}
	.gallery-tab{float: none;}
	#showmenu {top: 48px;}
	/*.top-slider .s-bg1{height: 480px;}*/
    ::-webkit-scrollbar{display: none;}
    .course-page-contact .sec-subheading{padding: 0;}
    .course-reviews-row, .what-to-learn-row, .course-row, .para-margin-top-on1024, .review1, .para-margin-top, .training-company .course-row{margin-top: 0;}
    .course-review-div, .what-to-learn-div, .course-module .course-module-div{margin-top: 30px;}
    .review-heading, .what-to-learn .sec-subheading {margin-bottom: 30px;}
    .course-module .course-row, .margin-left-15 {margin-left: 0;}
    .margin-right-15 {margin-right: 0;}
    .course-module .course-module-div{height: auto;}
    .learn-web-design .web-design-info{padding-right: 15px;}
    .links-footer{margin-bottom: 30px;}
    .counts-section, .testimonial {padding: 50px 0 0;}
    .register-section{padding: 60px 0 0;}
    .top-slider, .link-page-banner, .course-page-banner{margin-top: 64px;}
    .es_textbox_button {right: 0;}
}

@media only screen and (max-width: 961px){
	.blog-aside{margin-top: 20px;padding-left: 0;}
	.blog-page-date{float: none;}
	.join-points{margin-bottom: 40px;}
	/*.footer-top .col-sm-11{margin-left: -20px;}*/
	#showmenu {  right: 7%;}
	.material-scrolltop { bottom: 20%; right: 24px;}
	.es_textbox_button {right: 0;}
	.course-module.web-designing .course-module-div {min-height: 400px;}
	.top-slider {margin-bottom: 0;}
	.footer-inner {margin-left:20px;}
	.contact-info {margin-top:30px;}
	.top-strip {z-index:-1;}
	.custom-flex{display: inherit;}
	.blue-badge {right:-10px;}
	.banner-pop .banner-pop-blog {max-width: 100%;}
}	

@media only screen and (max-width: 841px){
	.slider-heading{font-size: 30px;}
	/*.top-slider .s-bg1{height: 450px;}*/
}

@media only screen and (max-width: 801px){
	.slider-btn {margin-top: 10px;padding: 11px 37px 11px 38px;}
	.testimonial .arrow-div{top: 93.8%;}
	.top-slider, .link-page-banner, .course-page-banner{margin-top: 80px;}
	/*.top-slider .s-bg1{height: 366px;}*/
}

@media only screen and (max-width: 769px){
	.footer-inner .connect{float: left;}
	.testimonial .arrow-div{top: 91.8%;}
	header .navbar > .container .navbar-brand {margin-left: 15px;}
	.slider-btn {padding: 10px 37px;}
	.slider-btn-arrow{top: 14px;right: 21px;}
	.other-course-section1{display: block;}
    .other-course-section{display: none;}
	/*OTHER COURSE LIST*/
	.course-list-div{padding: 15px 0 0 0; display: block; text-align: left;}
	.course-list-heading{padding-left: 15px;margin-bottom: 20px;}
	.course-list-div li{padding: 8px 15px;border-top: 1px solid #f2f2f2;}
	.course-list-div ul{margin-bottom: 0;}
	.course-list-div li:hover{background-color: #f8f7f7;}
	.course-list-div li:hover a{color: #333333;font-family: 'quicksandmedium';}
	.contact-page .col-xs-1 {width: 4.333333%;} 
	/*.top-slider .s-bg1 {height: 387px;} */
	.course-details-fix-div{width: 243px;}  
	.course-details-fix-div .register2-btn{padding: 12px 68px;}
	.course-details-fix-div .download2-btn{padding: 12px 23px;}
	.course-review-div .col-xs-2 {width: 11%;}
	#mixedSlider .MS-controls .MS-right {right: 57px;}
	#mixedSlider .MS-controls .MS-left {left: 57px;}
	.top-slider, .link-page-banner, .course-page-banner { margin-top: 50px;}
    .carousel-caption.slider-div .btn-line-orng {margin-top: 0;padding: 8px 14px;}
    .carousel-caption.slider-div {top: 3%;}
    .material-scrolltop { bottom: 66px;}
}

@media only screen and (max-width: 767px){
	.carousel-caption.slider-div{top: 20%;}
	/*.top-slider .s-bg1{height: 300px;}*/
	.carousel-caption.slider-div{left: 0; text-align: center;}
	.slider-p1, .slider-heading{color: #fff;}
	.carousel-caption.slider-div p {color:#fff;display: none;}
	.slider-p1{font-family: 'quicksandregular';}
	.footer-contact .row{margin-top: 10px;margin-bottom: 0;}
	.footer-icon{font-size: 20px;}
	.register-section .register-btn{margin-top: 10px;}
	.footer-subheading{margin-bottom: 20px}
	.footer-top .col-xs-2 {width: 8.666667%;}
	.gallery-img-div {margin-top: 25px;}
	.blog-container, .blog-aside{padding-right: 0;}
	.contact-form, .contact-info{padding: 0;}
	.contact-page h1 {padding-left: 12px;}
	.course-page-banner{text-align: center;height: 165px;}
	.register-section .sec-subheading, .course-details-fix-div{display: none;}
	.brochure{text-align: center;}
	.bg-image {background-size: cover;background-position: top left;}
	.footer-top .col-sm-11{margin-left: 0px;}
	.blog-detls-banner .banner-heading{line-height: 40px;}
	.course-dtls-side-div1, .gallery-xs{display: block;}
	#register-modal .modal-dialog{width: auto;}
	.gallery-desk-tab, .bx-wrapper .bx-prev, .bx-wrapper .bx-next{display: none;}{display: none;}
}
@media only screen and (max-width: 737px){
	.top-slider, .link-page-banner, .course-page-banner {margin-top: 45px;}
	.carousel-caption.slider-div {text-align: left;top: 6%;}
	.carousel-caption.slider-div .btn-line-orng {margin-top: 30px;}
	.material-scrolltop {bottom: 30%;}
	

}
@media only screen and (max-width: 668px) {
	/*.course-star { right: 41%;}*/
	.blue-badge {right: 100px;}
	/*.feedback-section {right: -193px;}*/
	#showmenu {top: 40px;}
	.carousel-caption.slider-div .btn-line-orng {margin-top: 11px;}
}
@media only screen and (max-width: 641px){
	.footer-inner p{font-size: 12px;}
	.material-scrolltop {bottom: 22%;right:25px;}
	.youtube-icon {font-size: 52px;}
	.video-div a {top: 40%;}
	.testimonial .arrow-div{top: 92.8%;}
	.modal-dialog {width: 400px;}
	.register-section{height: 228px;}
    .gallery-modal-lg{display: none;}
    .r-checkbox span {margin-right: 42px;}
    .count-text {margin: 8px 0 0 -13px;display: block;}
    /*.feedback-section {right: -172px;}*/
}
@media only screen and (max-width: 568px){
	/*.feedback-section { right: -192px;}*/
}
@media only screen and (max-width: 481px){
	body, .sec-subheading{font-size: 14px;}
	h1{font-size: 25px;}
	h2{font-size: 23px;}
	h3{font-size: 18px;}
	.xlg-1{font-size: 22px;}
	.xlg{font-size: 18px;}
	.lg{font-size: 15px;}
	.lg1{font-size: 16px;}
	.sm{font-size: 13px;}
	.xs{font-size: 11px;}
	.brochure h2{line-height: 24px;}
	.brochure .download-btn {margin-top: 10px;}
	.gallery-page .nav>li>a {padding: 4px;font-size: 14px;}	
	.who-we-image {float: none; width: 100%; margin-left: 0; margin-bottom: 20px;}
	.modal-dialog {width: 250px;}
	.blog-page-subheading {font-size: 17px; line-height: 24px;}
	.slider-heading{font-size: 25px;}
	.join-right-arrow, .course-details .course-review-div .col-xs-1{display: none;}
	.why-join .sec-subheading {font-size: 18px;}
	.contact-btn1{margin-left: 0;}
	.review1 {margin-top: 0;}
	.slider-btn-arrow {top: 17px;right: 6px;}
	.slider-btn:hover .slider-btn-arrow {right: 2px;}
	.contact-page .col-xs-1 {width: 6.333333%;}
	.contact-page .send-btn {margin-top: 10px;}
	.blog-detls-banner .banner-heading{line-height: 33px;font-size: 25px;}
	.r-checkbox span {margin-right: 11px;}
	.course-page-banner .banner-heading{line-height: 35px;}
	.course-page-banner{padding-top: 50px;}
	.course-page-contact{padding: 21px 0;}
	.course-page-contact .sec-subheading{margin-bottom: 0;}
	.course-page-contact .courses-fill-btn{margin-bottom: 20px;}
	.course-review-div .col-xs-2 {width: 16.66666667%;}
	.download-btn{padding: 12px 40px;}
	.carousel-caption.slider-div {top: 9%;}
	header .webgurukul-logo, .sticky .webgurukul-logo {height: 40px;}
	.carousel-caption.slider-div .btn-line-orng {display: none;}
	.slider-heading {font-size: 23px;}
	.rr_review_form .form_table .rr_form_row .rr_form_heading {width: 34%!important;}
	.rr_review_form .form_table .rr_form_row .rr_form_input input[type="text"] {
    width: 100%!important;}
    .rr_review_form .form_table .rr_form_row .rr_form_input textarea {
    width: 100%!important;}
}
@media only screen and (max-width: 415px){
	/*.slider-heading {font-size: 18px;}*/
	/*.feedback-section {right: -163px;}*/
	.material-scrolltop {bottom: 9%;right: 18px;}
	.btn-section .btn-line-orng {margin: 0 5px 0 0;}
	.blue-badge {right: 0;}
	/*.course-star {right: 35%;}*/
	header .webgurukul-logo, .sticky .webgurukul-logo {height: 35px;}
	#showmenu {top: 38px;}
	.join-points .sec-subheading, .why-join h2 {text-align: left!important;}
	.join-points .sm {font-size: 14px;}
	.why-join .point-p {font-size: 16px;}
	.carousel-caption.slider-div .btn-line-orng {display: none;}
	
	
}
@media screen and (max-width: 376px){
	/*.course-star { right: 105px;}*/
	.material-scrolltop {bottom: 19%;}
	.brochure h2 {line-height: 28px;font-size:21px;}
	.counts {font-size: 43px;}
	.testimonial .t-slider-div {font-size: 14px; padding: 15px;}
	.testimonial .arrow-div {top: 93.3%;}
	.why-join .point-p {font-size: 16px;}
	.join-percent{margin-top: 20px;}
	.why-join .percent-div {height: 70px;padding: 5px;}
	.why-join .percent-div .point-1 {margin-top: 24px;}
	.why-join .percent-circle {height: 60px;width: 60px;margin-top: 0;}
	.why-join .percent-circle .icon-100p {font-size: 32px;line-height: 60px;}
	.why-join .percent-circle .icon-10p {font-size: 40px;line-height: 50px;}
	.rr_review_form .form_table .rr_form_row .rr_form_heading {width: 100%!important;display: block!important;}
}
@media screen and (max-width: 361px){
	.footer-inner p{font-size: 11px;}
	.testimonial .arrow-div{left: 43%;}
	.footer-top .col-xs-2 {width: 16.66666667%;}
	/*.why-join .percent-circle {height: 50px;width: 50px;margin-top: 5px;}*/
	.who-we-image{margin-bottom: 20px;}
	.join-percent .sec-heading{margin-bottom: 0;}
	.banner-heading {font-size: 22px;}
	.join-modal .modal-sm {width: 300px;}
	.course-review-div .col-xs-2{padding-left: 0;}
	.download1-btn{padding: 8px 10px;}
	.register1-btn{padding: 8px 48px;}
	.course-details a{font-size: 10px;}
	.r-checkbox span {margin-right: 47px;}
	.course-page-banner .banner-heading{line-height: 28px;}
	.course-module-list .list-toggle-icon{margin-top: 5px;}
	.slider-heading {font-size: 18px;}
	.gallery-page .nav > li > a {font-size: 12px;}
	.course-details-block { padding: 30px 15px 25px;}
	.check-icon1 {font-size: 24px;}
}

@media only screen and (max-width: 321px){
	.r-checkbox span {margin-right: 28px;}
	.course-details-headings, .gallery-heading h1{font-size: 20px;}
	.course-details h1{font-size: 22px;}
	.download-btn {padding: 12px 22px;}
	.why-join .percent-circle .icon-10p {font-size: 20px;line-height: 30px;}
	.counts {color: #a9fd00;font-size: 31px;}
	.reading-btn, .blog-page-reading-btn{padding: 12px 35px;}
	.courses-border-btn1{padding: 12px 42px;}
	.why-join .point-p {font-size: 14px;}
}

